doctype html
html(lang="en")
  head
    block head
      block title
        title Title
      block meta
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        //- link(rel="stylesheet", href="libs/flexboxgrid/index.min.css", type="text/css")
        //- flexboxgrid and bootstrap already includes normalize.css-no need for it
        //- link(rel="stylesheet", href="libs/normalize.css/normalize.css", type="text/css")
        //- link(rel="stylesheet", href="libs/animate/animate.css", type="text/css")
        link(rel="stylesheet", href="css/main.css", type="text/css")
      block addhead
  body
    //- block header
    //-   //- include templates/_header
    //- main.site-content
    //-   block content
    //- block footer
    //-   //- include templates/_footer
    //-   #toTop
    //-     i(class="fa fa-angle-up" aria-hidden="true")
    block body
      .layout
        block container
    block scripts
      //- script(type="text/javascript", src="libs/jquery/jquery-3.2.0.min.js")
      //- script(type="text/javascript", src="libs/bootstrap/bootstrap.min.js")
      //- script(type="text/javascript", src="libs/waypoints/jquery.waypoints.min.js")
      //- script(type="text/javascript", src="libs/countUp/countUp.min.js")
      //- script(type="text/javascript", src="libs/slick/slick.min.js")
      //- script(type="text/javascript", src="libs/headhesive/headhesive.min.js")
      
      script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
      script(type="text/javascript", src="js/all.js")