extends _layout
block container
  //- include components/_block1
  //- include components/_block2
  include components/_block4
  //- .container
  //-   .header Header
  //-   .menu Menu
  //-   .content Content
  //-   .footer Footer