.block1 {
  text-align: justify;
  font-size: 15px;
  font-weight: 300;
  color: #777;
  line-height: 1.7;
}

.b1-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

// .about-photo {
//   img {
//     width: 100%;
//   }
// }