section#portfolio.block5.tracked
  .container
    h3.font-alt Portfolio / A Very Few Selected Works
    .section-text Please use the arrow slider to view before and after detail. Images may take a moment to load
    .slider-wrap
      .ba-slider
        img(src="/img/retoucher-1211-before.jpg", alt="")
        img(src="/img/retoucher-1211-after.jpg", alt="")