section#portfolio.page-section.block4.tracked
  .container
    h3.font-alt Portfolio / A Very Few Selected Works
    .section-text Please use the arrow slider to view before and after detail. Images may take a moment to load
    .slider-wrap
      .ba-slider
        img(src="/img/retoucher-9552-before.jpg", alt="")
        img(src="/img/retoucher-9552-after.jpg", alt="")
  .container
    .section-text
      .project-details
        .work-details
          h5.font-alt Project details
          .work-full-details
            p
              strong Client:
              |Galton Voysey
            p
              strong Date:
              |November, 2015
            p
              strong Client:
              |Retouching
        .work-desc
          | Photo retouching: background replacement with a new one, removing unwanted interior elements, revitalizing a plant, working with shadows / reflections / light, color correction. Like all my works - this one was created using layer masks, clear cut (deep etching) and adjustments layers.