section#about.block1.tracked
  .container
    h2.font-alt About
    .b1-grid
      .about-photo
        img(src="/img/photo.jpg", alt="")
      .about-desc.section-text
        |Hi! My name is Victor. I am a professional freelance Retoucher, upbeat, proactive and creative person, with an appetite for visual challenges. I provide high quality photo retouching services (both print and web) to individual photographers and big companies all over the world. My strongest point is product, food, still life, automotive and architectural retouching, image manipulation and composing.
        |I have industry experience with excellent, in-depth working knowledge of retouching workflows and all the main IT skills, so, I am expertly versed in both creative and technical approaches. Plus, able to demonstrate an exemplary work ethic and a positive attitude. I work independently, but also function well within a team. Able to work well under pressure and with tight deadlines.
        |All my customers are satisfied with my photo retouching and graphic design services. Those I work with are often kind enough to offer testimonials: be sure to read what clients have said about working with me.
        |All my experience specializing in realistic retouching and image design has taught me that collaboration produces the best work. Whether I've retouching photography or developing complex images from photos, CGI elements and digital illustration, I listen, offer advice, and make sure that you’re as happy with the process as you are with the final results.