nav.main-nav.stick-fixed
  .nav-logo.local-scroll
    a(href="#top")
      img(src="img/logo-white.png", alt="Victor Brana's Creative Services" title="Victor Brana's Creative Services")
  .mobile-nav
    .fa.fa-bars
  .inner-nav
    ul.scroll-nav.locall-scroll
      li
        a(href="#home") Home
      li
        a(href="#about") About
      li
        a(href="#services") Services
      li
        a(href="#portfolio") Portfolio
      li
        a(href="#hire") Hire
      li
        a(href="#testimonials") Testimonials
      li
        a(href="#contacts") Contacts