nav.main-nav
  .nav-logo.local-scroll
    a(href="#top")
      img(src="img/logo-white.png", alt="Victor Brana's Creative Services" title="Victor Brana's Creative Services")
  .mobile-nav
  .inner-nav